.header {
  position: relative;
  height: 100vh;
  background-image: url("../../images/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333;
  overflow: hidden;
}

.header-title {
  font-size: 3.5rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-title::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 60%;
  background-color: #333;
  bottom: 15%;
  right: -8px;
  -webkit-animation: blink 1s linear infinite;
          animation: blink 1s linear infinite;
}

.header-subtitle {
  font-size: 2rem;
  color: #555;
}

@media (min-width: 1200px) {
  .header-title {
    font-size: 5rem;
  }
}

@media (max-width: 800px) {
  .header-title {
    font-size: 3rem;
  }
}

@media (max-width: 500px) {
  .header-title {
    font-size: 1.5rem;
  }
  .header-subtitle {
    font-size: 1.2rem;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  position: relative;
}

.container {
  max-width: 1200px;
  background-color: red;
  margin: 0 auto;
}

.navigation {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: #fff;
  z-index: 1000;
  padding: 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 15px 30px 30px 1px #333;
          box-shadow: 15px 30px 30px 1px #333;
  -webkit-transform: translateX(400px);
          transform: translateX(400px);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navigation-close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20px;
  right: 20px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.navigation-close:hover img {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.navigation-close img {
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navigation ul {
  list-style: none;
}

.navigation ul li {
  text-align: center;
}

.navigation ul li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #444;
  line-height: 3.5rem;
  font-weight: 600;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navigation ul li a:hover {
  color: #111;
}

.open {
  position: absolute;
  z-index: 1000;
  background-color: white;
  top: 20px;
  right: 30px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-box-shadow: 3px 3px 15px 1px #333;
          box-shadow: 3px 3px 15px 1px #333;
}

.open:hover .span-container span:nth-child(1) {
  width: 35px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.open:hover .span-container span:nth-child(2) {
  width: 35px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.open:hover .span-container span:nth-child(3) {
  width: 35px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.open .span-container {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.open .span-container span {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  display: block;
  height: 2px;
  width: 35px;
  background: #111;
}

.open .span-container span:nth-child(1) {
  width: 55%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.open .span-container span:nth-child(2) {
  width: 35%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.open .span-container span:nth-child(3) {
  width: 35px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.about {
  padding: 50px 0;
}

.about-title {
  font-size: 5rem;
  line-height: 4rem;
  padding: 0;
  margin: 0;
}
/*# sourceMappingURL=index.css.map */